<header id="header">
    <nav>
        <h2>Logo(Galax-Fit)</h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div id="auth-buttons">
            <!-- Os botões de Login e Logout inseridos via JavaScript -->
        </div>
    </nav>
</header>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="header.js"></script>
